.ui-select {
  --arrow-size: 20px;
  --font-size: 18px;
  --list-font-size: 16px;

  position: relative;
  width: 100%;
  .select2-container {
    display: block;
    .select2 {
      &-selection {
        height: auto;
        background: transparent;
        border: 0;
        border-radius: 0;
        overflow: hidden;
        &__rendered {
          padding-left: 0;
          padding-right: calc(var(--arrow-size) + 2px);
          font-size: var(--font-size);
          line-height: 1.3;
          color: inherit;
        }
        &__placeholder {
          color: inherit;
        }
        &__arrow {
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: var(--arrow-size);
          height: var(--arrow-size);
          background: transparent;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='6' fill='none'%3E%3Cpath fill='%23F4EFEC' d='M5.16 5.86.13.76a.45.45 0 0 1 0-.62A.44.44 0 0 1 .46 0a.45.45 0 0 1 .32.13l4.73 4.8 4.73-4.8a.44.44 0 0 1 .32-.13.45.45 0 0 1 .31.13.45.45 0 0 1 0 .64L5.85 5.86A.47.47 0 0 1 5.5 6a.49.49 0 0 1-.34-.14Z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 11px auto;
          transition: 0.3s ease;
          b {
            display: none;
          }
        }
      }
      &-dropdown {
        margin: 5px 0;
        border: 0;
        border-radius: 4px;
      }
      &-results {
        padding: 4px 0;
        font-size: var(--list-font-size);
        &__options {
          @include golden-scrollbar;

          max-height: 230px;
        }
        &__option {
          padding: 5px 10px;
          white-space: unset;
          &--selectable {
            color: $black;
            background: none;
          }
          &--selected {
            color: $brown;
            background: none;
          }
        }
      }
    }
    &.select2-container--open {
      z-index: 5;
      .select2 {
        &-selection {
          &__arrow {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
      &.select2 {
        z-index: 10;
      }
    }
  }
  &--black {
    .select2-container {
      .select2 {
        &-selection {
          &__arrow {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' fill='none'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.25' d='M9.17 1.33 5 5.5.83 1.33'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}
