.benefits {
  position: relative;
  display: grid;
  grid-template-columns: max(25.6%, 410px) minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  gap: 40px;
  align-items: start;
  @include media-laptop {
    grid-template-columns: unset;
    grid-template-rows: unset;
    gap: 20px;
  }
  &__section-head {
    .ui-h4 {
      max-width: 370px;
      @include media-laptop {
        max-width: unset;
      }
    }
  }
  &__large-active-slider {
    grid-row: span 2;
    margin-right: calc(var(--inner-pd) * -1);
    overflow: hidden;
    @media (max-width: 1920px) {
      margin-right: calc(((100vw - 1620px) / 2) * -1);
    }
    @media (max-width: 1640px) {
      margin-right: calc(var(--inner-pd) * -1);
    }
    @include media-tablet {
      padding: var(--inner-pd);
      margin-left: calc(var(--inner-pd) * -1);
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    @include media-tablet {
      gap: 10px;
    }
  }
}
