mixin accordions(mods)
  -
    const baseName = 'accordions'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .accordions(class=allMods)&attributes(attributes)
    block

mixin accordions__column(head)
  .accordions__column&attributes(attributes)
    block

mixin accordions__item(head)
  .accordions__item&attributes(attributes)
    .accordions__head
      +ui-h5(head, '--semibold, --mob-fz-s')
      .accordions__button
        +svg('icon_accordion_cross')
    .accordions__body
      .accordions__text
        block

mixin accordions-container(mods)
  -
    const baseName = 'accordions-container'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .accordions-container(class=allMods)&attributes(attributes)
    +section-head('accordions-container')
      +ui-h2('информация', 'section-head').text-brown
      +ui-h4('Правила пользования сертификатом')
    block
    +ui-button('Задать вопрос в WhatsApp', 'accordions-container, --min-w, --outline')(href='#')
