mixin socials(items, mods)
  -
    const baseName = 'socials'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .socials(class=allMods)&attributes(attributes)
    each item in items
      a.socials__item(class=(item.iconHover ? 'socials__item--hover-color' : '') href='#')
        .socials__icon
          img.socials__icon-start(src=`../../images/${item.iconStart}.svg`, alt='')
          if item.iconHover
            img.socials__icon-hover(src=`../../images/${item.iconHover}.svg`, alt='')
        if item.text
          +ui-p2(item.text, 'socials, --mob-s')
    block
