mixin policy(mods)
  -
    const baseName = 'policy'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .policy(class=allMods)&attributes(attributes)
    .policy__head
      +ui-h4('Шаблон Политики Конфиденциальности:', '--semibold')
    +text('policy')
      ol.text__ol-lvl1
        li Сбор Информации:
          ol
            li Мы собираем личную информацию, предоставленную вами добровольно при использовании нашего сайта.
            li Мы также можем автоматически собирать определенную информацию о вашем устройстве и взаимодействии с сайтом через файлы cookie.
        li Использование Информации:
          ol
            li Личная информация используется для обработки ваших запросов, предоставления услуг и улучшения качества предоставляемых нами услуг.
            li Мы можем использовать информацию для отправки вам информации о наших услугах, акциях и новостях, если вы дали на это согласие.
        li Защита Информации:
          ol
            li Мы предпринимаем меры для защиты ваших личных данных от несанкционированного доступа и использования.
        li Передача Информации Третьим Сторонам:
          ol
            li Мы не передаем вашу личную информацию третьим сторонам без вашего согласия, за исключением случаев, предусмотренных законом.
        li Управление Вашей Информацией:
          ol
            li Вы можете запросить доступ, исправление или удаление своей личной информации, связавшись с нами.
        li Изменения Политики:
          ol
            li Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. Изменения будут опубликованы на этой странице.
        li Согласие с Условиями:
          ol
            li Используя наш сайт, вы соглашаетесь с условиями нашей политики конфиденциальности.
    .policy__footnote
      +ui-p1('', '--bold, --mob-s')
        | Это общий шаблон, и его следует адаптировать под ваш сайт и требования вашей компании. Рекомендуется также получить юридическую консультацию для обеспечения соответствия политики законам вашей юрисдикции.
    block
