.large-active-slider {
  --width: 40.63vw;
  --img-height: 27.08vw;
  --scale: 0.425;
  @include media-laptop {
    --width: 60vw;
    --img-height: 40vw;
  }
  @include media-tablet {
    --width: 71.028vw;
    --img-height: 47.43vw;
    --scale: 0.65;
  }
  .swiper {
    width: var(--width);
    margin-left: 0;
    overflow: visible;
  }
  &__slide {
    transform-origin: top left;
    transition: transform 0.5s;
    &.swiper-slide-active {
      + .swiper-slide {
        transform: scale(var(--scale));
      }
      ~ .swiper-slide {
        .large-active-slider {
          &__content {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
    &.swiper-slide-next {
      + .swiper-slide {
        transform: translateX(calc(var(--width) * (var(--scale) - 1))) scale(var(--scale));
        ~ .swiper-slide {
          transform: translateX(calc(var(--width) * 2 * (var(--scale) - 1))) scale(var(--scale));
        }
      }
    }
  }
  &__img {
    height: var(--img-height);
    border-radius: 20px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    display: grid;
    gap: 10px min(4.17vw, 80px);
    margin-top: 20px;
    transition: 0.5s;
    @include media-tablet {
      margin-top: 10px;
    }
  }
  &__ui-h5 {
    color: $brown;
  }
  &__ui-button {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: end;
    padding: 19px 25px;
    @include media-tablet {
      grid-column: unset;
      grid-row: unset;
    }
  }
  &--content-inside {
    .large-active-slider {
      &__ui-h5 {
        color: inherit;
      }
      &__slide {
        &.swiper-slide-active ~ .swiper-slide {
          .large-active-slider {
            &__img {
              &::before {
                opacity: 0;
              }
            }
          }
        }
      }
      &__img {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgb(61 61 61 / 0) 0%, #161616 93.23%);
          transition: 0.5s;
        }
      }
      &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 25px 30px;
        color: $white;
        @include media-tablet {
          padding: 20px;
        }
      }
    }
  }
}
