mixin navbar(mods)
  -
    const baseName = 'navbar'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  nav.navbar(class=allMods)&attributes(attributes)
    ul.navbar__menu
      li.navbar__item
        a.navbar__link(href='#')
          span.navbar__icon
            .svg
              include ../../images/icon_person.svg
          span.navbar__name Личный <br>кабинет
      li.navbar__item
        a.navbar__link(href='#')
          span.navbar__icon
            .svg
              include ../../images/icon_call.svg
          span.navbar__name Позвонить
      li.navbar__item
        button.navbar__link(onclick='window.openMenu()')
          span.navbar__icon
            .svg
              include ../../images/icon_palms.svg
          span.navbar__name SPA <br>ритуалы
      li.navbar__item
        a.navbar__link(href='#')
          span.navbar__icon
            .svg
              include ../../images/icon_register.svg
          span.navbar__name Запись <br>онлайн
      li.navbar__item
        a.navbar__link(href='#')
          span.navbar__icon
            .svg
              include ../../images/icon_certificate.svg
          span.navbar__name Купить <br>сертификат
    block
