.ui-button {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 39px;
  font: 600 20px/1.4 $font;
  text-align: center;
  white-space: nowrap;
  color: $white;
  background: transparent;
  border: 1px solid transparent;
  border: 0;
  border-radius: 8px;
  transition: $transitionDuration;
  cursor: pointer;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: $gradient;
    background: linear-gradient(130.14deg, #8a5c2a 13.54%, rgb(194 166 80 / 0.81) 50.18%, rgb(209 186 90 / 0.92) 57.67%, rgb(200 173 83 / 0.86) 63.23%, #a37c36 74%, #8a5c2a 90%);
    background-size: 300%;
    animation: button-gradient 4s linear infinite;
    transition: $transitionDuration;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid $brown;
    border-radius: inherit;
    opacity: 0;
    transition: $transitionDuration;
  }
  @include media-laptop {
    padding: 19px 30px;
    font-size: 18px;
  }
  @include media-tablet {
    padding: 17px;
    font-size: 16px;
  }
  @include media-hover {
    color: $brown;
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
  .svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  &--min-w {
    min-width: 370px;
    @include media-laptop {
      min-width: unset;
    }
  }
  &--min-w-s {
    min-width: 270px;
    @include media-laptop {
      min-width: unset;
    }
  }
  &--l-min-w-m {
    min-width: 348px;
    @include media-laptop {
      min-width: unset;
    }
  }
  &--l-min-w-s {
    min-width: 312px;
    @include media-laptop {
      min-width: unset;
    }
  }
  &--l-min-w-xs {
    min-width: 228px;
    @include media-laptop {
      min-width: unset;
    }
  }
  &--fz-xs {
    font-size: 14px;
    @include media-tablet {
      font-size: 16px;
    }
  }
  &--p-xs {
    padding: 13px 20px;
  }
  &--px-xs {
    padding-right: 24px;
    padding-left: 24px;
    @include media-tablet {
      padding-right: 17px;
      padding-left: 17px;
    }
  }
  &--py-s {
    padding-top: 16px;
    padding-bottom: 16px;
    @include media-tablet {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  &--outline {
    color: $brown;
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
    @include media-hover {
      color: $white;
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 0;
      }
      span {
        color: $white;
      }
    }
  }
  &--outline-gradient {
    color: $brown;
    span {
      background: linear-gradient(130.14deg, #8a5c2a 13.54%, rgb(194 166 80 / 0.81) 50.18%, rgb(209 186 90 / 0.92) 57.67%, rgb(200 173 83 / 0.86) 63.23%, #a37c36 84.8%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: $transitionDuration;
    }
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
    @include media-hover {
      color: $white;
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 0;
      }
      span {
        background: transparent;
        background-clip: unset;
        -webkit-text-fill-color: unset;
        color: $white;
      }
    }
  }
  &--wh-s-unset {
    white-space: unset;
  }
  &--mob-w-100 {
    @include media-tablet {
      width: 100%;
    }
  }
  &--mob-fz-xxs {
    @include media-tablet {
      font-size: 14px;
    }
  }
  &--mob-outline-gradient {
    @include media-tablet {
      color: $brown;
    }
    span {
      @include media-tablet {
        background: linear-gradient(130.14deg, #8a5c2a 13.54%, rgb(194 166 80 / 0.81) 50.18%, rgb(209 186 90 / 0.92) 57.67%, rgb(200 173 83 / 0.86) 63.23%, #a37c36 84.8%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: $transitionDuration;
      }
    }
    &::before {
      @include media-tablet {
        opacity: 0;
      }
    }
    &::after {
      @include media-tablet {
        opacity: 1;
      }
    }
  }
}
