mixin promotions-list(mods)
  -
    const baseName = 'promotions-list'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .promotions-list(class=allMods)&attributes(attributes)
    - for(let i=0; i<4; i++)
      +promotions-item
    block
