.legend {
  display: grid;
  grid-template-columns: 243px minmax(0, 1fr) 243px;
  gap: 68px;
  @include media-laptop {
    grid-template-columns: 124px minmax(0, 1fr) 124px;
    align-items: center;
    gap: 25px;
  }
  @include media-tablet {
    display: block;
  }
  &__text {
    margin-top: 135px;
    text-align: center;
    @include media-laptop {
      margin-top: 0;
    }
  }
  &__ui-h2 {
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media-tablet {
        margin-bottom: 10px;
      }
    }
  }
  &__pictures {
    @include media-tablet {
      display: none;
    }
  }
  &__img {
    position: relative;
    aspect-ratio: 1.042;
    border-radius: 20px;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 160px;
      @include media-laptop {
        margin-bottom: 95px;
      }
    }
    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--l {
      aspect-ratio: 0.76;
    }
  }
}
