.article-inner {
  position: relative;
  margin: 0 auto;
  &__decor {
    img {
      display: block;
      width: 100%;
      min-height: 110px;
      @include media-tablet {
        min-height: 93px;
      }
    }
    &--top {
      margin-bottom: -2px;
    }
    &--bottom {
      margin-top: -2px;
    }
  }
  &__container {
    padding: 43px 12.5vw 123px;
    background-image: url('/images/article-inner-bg.png');
    background-repeat: repeat-y;
    background-size: 90% auto;
    background-position: top center;
    @include media-laptop {
      padding: 40px 10vw 80px;
      background-size: 94% auto;
    }
    @include media-tablet {
      padding: 55px 8.84vw 70px;
      background-image: url('/images/article-inner-bg-mob.png');
      background-size: 98% auto;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 37.25%;
    gap: 50px;
    margin: 0 auto;
    @include media-tablet {
      grid-template-columns: minmax(0, 1fr);
      gap: 28px;
    }
  }
  &__head {
    margin-bottom: 40px;
    @include media-laptop {
      margin-bottom: 30px;
    }
    @include media-tablet {
      margin-bottom: 20px;
    }
  }
  &__date {
    font: 600 16px/1.3 $font;
    margin-bottom: 10px;
    @include media-tablet {
      font-size: 12px;
    }
  }
  &__title {
    font: 600 28px/1.3 $font;
    @include media-laptop {
      font-size: 22px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__descr {
    font: 700 18px/1.3 $font;
    @include media-tablet {
      font-weight: 500;
    }
  }
  &__text {
    @include media-tablet {
      padding: 0 6px;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
      @include media-laptop {
        margin-bottom: 30px;
      }
      @include media-tablet {
        margin-bottom: 22px;
      }
    }
  }
  &__img {
    position: sticky;
    top: calc(20px + var(--header-height, var(--header-height-initial)));
    align-self: start;
    @include media-tablet {
      position: static;
      order: -1;
      max-width: 284px;
      margin: 0 auto;
    }
    img {
      display: block;
      width: 100%;
      border-radius: 20px;
    }
  }
}
