mixin reservation-services(mods)
  -
    const baseName = 'reservation-services'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .reservation-services(class=allMods)&attributes(attributes)
    -for(let j=0; j<18; j++)
      .reservation-services__option
        input.reservation-services__input(type='radio' name='time' id=`reservation-services-${j}`)
        label.reservation-services__label(for=`reservation-services-${j}`) Название услуги Название услуги Название услуги
    block
