.services-simular {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  column-gap: 25px;
  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 24px;
  }
  .swiper {
    @include media-custom(1680px) {
      overflow: visible;
    }
  }
  &__section-head {
    order: -1;
    @include media-tablet {
      width: 100%;
    }
  }
  &__main {
    grid-column: 1/-1;
    width: 100%;
    margin-top: 40px;
    @include media-tablet {
      margin: 0;
    }
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-areas: 'main';
    min-height: 450px;
    width: 370px;
    max-width: 100%;
    height: auto;
    text-align: center;
    color: $white;
    border-radius: 20px;
    overflow: hidden;
    @include media-hover {
      .services-simular {
        &__img {
          &::before {
            opacity: 0;
            @include media-laptop {
              opacity: 1;
            }
          }
          &::after {
            opacity: 1;
          }
        }
        &__content {
          top: -50%;
          transform: translateY(50%);
          @include media-laptop {
            top: 0;
            transform: none;
          }
        }
        &__icon {
          opacity: 1;
        }
        &__actions {
          height: auto;
          opacity: 1;
        }
      }
    }
  }
  &__img {
    position: absolute;
    inset: 0;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 57%;
      background: linear-gradient(180deg, rgb(61 61 61 / 0) 0%, #161616 100%);
      transition: $transitionDuration;
      @include media-laptop {
        background: linear-gradient(180deg, rgb(6 6 6 / 0) 0%, rgb(6 6 6 / 0.58) 47.23%, rgb(6 6 6 / 0.92) 95.44%);
      }
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgb(6 6 6 / 0.75);
      opacity: 0;
      transition: $transitionDuration;
      @include media-laptop {
        display: none;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px;
  }
  &__icon {
    width: 48px;
    height: 48px;
    margin: 0 auto 10px;
    opacity: 0;
    transition: $transitionDuration;
    @include media-laptop {
      opacity: 1;
    }
    @include media-tablet {
      width: 38px;
      height: 38px;
    }
  }
  &__ui-h5 {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__content {
    position: relative;
    top: 0;
    margin-top: auto;
    width: 100%;
    transition: $transitionDuration;
  }
  &__actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 0;
    opacity: 0;
    transition: $transitionDuration;
    overflow: hidden;
    @include media-laptop {
      display: flex;
      gap: 10px;
      max-width: 500px;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      opacity: 1;
    }
    @include media-tablet {
      max-width: unset;
    }
  }
  &__ui-button {
    order: -1;
    align-self: end;
    @include media-tablet {
      order: unset;
      flex: auto;
    }
  }
  &__ui-swiper-buttons {
    margin-top: 40px;
    @include media-tablet {
      order: unset;
      margin-top: 0;
    }
  }
}
