mixin services-simular(mods)
  -
    const baseName = 'services-simular'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const items =[
      { img: '../../images/services/services-img-hammam.jpg', h5: 'Хаммам' },
      { img: '../../images/services/services-img-sauna.jpg', h5: 'Сауна' },
      { img: '../../images/services/services-img-footsteps-geisha.jpg', h5: 'По следам Гейши: экспресс-ритуал для ног' },
      { img: '../../images/services/services-img-elixir-harmony.jpg', h5: 'Эликсир Гармонии: Касание Киото' },
      { img: '../../images/services/services-img-elixir-harmony.jpg', h5: 'Эликсир Гармонии: Касание Киото' },
    ]

  .services-simular(class=allMods)&attributes(attributes)
    +section-head('services-simular')
      +ui-h2('Похожие услуги', 'section-head').text-brown
      +ui-h4('Возможно вам понравится', '--semibold')
    .services-simular__main
      .swiper
        .swiper-wrapper
          each item in items
            .services-simular__item.swiper-slide
              .services-simular__img
                img(src=item.img, alt='')
              .services-simular__wrapper
                .services-simular__content
                  .services-simular__icon
                    img(src='../../images/services/services-icon.svg', alt='')
                  +ui-h5(item.h5, 'services-simular, --semibold, --mob-fz-l')
                  .services-simular__actions
                    +ui-button('Подробнее', '--l-min-w-xs, --fz-xs')(href='#')
                    +ui-button('Забронировать', '--l-min-w-xs, --fz-xs, --outline-gradient')(href='#')
    +ui-button('Смотреть все услуги', 'services-simular, --l-min-w-s, --outline')(href='#')
    +ui-swiper-buttons('services-simular', '--outline')
    block
